<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.opos.mobaddemo.mix">
    <application>
        <activity
            android:name="com.opos.mobaddemo.mix.MixActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ad"
                    android:path="/mix"
                    android:scheme="mobad" />
            </intent-filter>
        </activity>
    </application>
</manifest>